<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="/Assets/images/Web.Dev.logo.svg"> -->
    <link rel="icon" type="image/png" sizes="32x32" href="/Source/Assets/images/Web.Dev.logo.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="Style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Web.Dev</title>
</head>

<body>
    <!-- NAVBAR -->
    <div class="bg-light vh-100">
        <nav class="navbar pt-3 px-5 mb-5 ">
            <div class="">
                <img src="/Source/Assets/images/Web.Dev.logo.svg" alt="">
            </div>
            <div class="">
                <a href=" " class="text-decoration-none text-dark m-4 ">Home</a>
                <a href=" " class="text-decoration-none text-dark m-4">About</a>
                <a href=" " class="text-decoration-none text-dark m-4">Testimonials</a>
                <a href=" " class="text-decoration-none text-dark m-4">Contact</a>
                <a href=" " class="text-decoration-none text-dark m-3 ">Sign in</a>
                <a href="login.html"><button type="button " class="btn btn-success px-4 py-2">Sign up</button></a>
            </div>
        </nav>
        <!--FIRST SECTION  -->
        <div class="contain d-flex  text-center">
            <div class=" ">
                <img src="/Source/Assets/images/backgroundImages.svg " alt=" ">
            </div>

            <div class="position-relative mt-5">
                <h1 class="display-1 fw-bold">We Develop</h1>
                <h1 class="display-1 fw-bold mb-5"><span class="text-success">Shopify</span> Sites</h1>
                <p class="w-50 mx-auto mb-5 text-center">
                    Slingback fabric heels. Thin wraparound ankle strap. Squared heel and toe. Pointed toes. Padded insole with geometrical design.
                </p>
                <div class=" ">
                    <a href=" "><button type="button " class="btn btn-success px-5 py-2 me-4 ">Contact Us</button></a>
                    <a href=" " class=" text-dark">Watch Video</a>
                    <img src="/Source/Assets/images/Arrow.svg " alt=" ">
                </div>
            </div>

            <div class=" ">
                <img src="/Source/Assets/images/backgroundImages2.svg " alt=" ">
            </div>

        </div>
    </div>
    <div class="d-flex ">
        <img src="/Source/Assets/images/chaseLOGO.svg " alt=" ">
        <img src="/Source/Assets/images/asanaLOGO.svg " alt=" ">
        <img src="/Source/Assets/images/googleLOGO.svg " alt=" ">
        <img src="/Source/Assets/images/buzzfeed.svg " alt=" ">
        <img src="/Source/Assets/images/Walmart.svg " alt=" ">
    </div>
    <div class=" ">
        <p class=" ">What we Do?</p>
        <h2 class=" ">Our Specialization</h2>
        <!-- what we do -->
        <div class=" ">
            <div class=" ">
                <span>
                    <img src="/Source/Assets/images/webflowGroup.svg " alt=" ">
                    <h6>Webflow Development</h6>
                </span>
                <p class=" ">
                    Really boy law county she unable her sister. Feet you off its like like six. Among sex are leave law built now. In built table in an rapid blush. Merits behind on afraid or warmly.</p>

                <a href=" ">Read More</a>
            </div>
            <div class=" ">
                <span>
                    <img src="/Source/Assets/images/figma_logo_brand_icon 1.svg " alt=" ">
                    <h6>Figma Web Designing</h6>
                </span>
                <p class=" ">
                    Really boy law county she unable her sister. Feet you off its like like six. Among sex are leave law built now. In built table in an rapid blush. Merits behind on afraid or warmly.
                </p>

                <a href=" ">Read More</a>
            </div>
            <div class=" ">
                <span>
                    <img src="/Source/Assets/images/shopifyGroup.svg " alt=" ">
                    <h6>Shopify Development</h6>
                </span>
                <p class=" ">
                    Really boy law county she unable her sister. Feet you off its like like six. Among sex are leave law built now. In built table in an rapid blush. Merits behind on afraid or warmly.
                </p>

                <a href=" ">Read More</a>
            </div>
            <div class=" ">
                <span>
                    <img src="/Source/Assets/images/phpVector.svg " alt=" ">
                    <h6>Php Development</h6>
                </span>
                <p class=" ">
                    Really boy law county she unable her sister. Feet you off its like like six. Among sex are leave law built now. In built table in an rapid blush. Merits behind on afraid or warmly.
                </p>

                <a href=" ">Read More</a>
            </div>
            <div class=" "></div>
            <div class=" "></div>
        </div>
        <a href=" "><button type="button " class="btn btn-success ">Learn More</button></a>
    </div>
    <div class=" container ">
        <p class=" ">Our Work</p>
        <h2 class=" ">Our Portfolio</h2>
        <div class=" ">
            <div class=" ">
                <img src="/Source/Assets/images/fashonlanding page.svg " alt=" ">
                <div class=" ">
                    <p class=" ">Fashion Landing page</p>
                    <a href=" ">View Details</a>
                </div>
            </div>
            <div class=" ">
                <img src="/Source/Assets/images/health.svg " alt=" ">
                <div class=" ">
                    <p class=" ">Health and Fitness</p>
                    <a href=" ">View Details</a>
                </div>
            </div>
            <div class=" ">
                <img src="/Source/Assets/images/furniture.jpg " alt=" ">
                <div class=" ">
                    <p class=" ">Furniture Shop</p>
                    <a href=" ">View Details</a>
                </div>
            </div>
            <div class=" ">
                <img src="/Source/Assets/images/it solution.svg " alt=" ">
                <div class=" ">
                    <p class=" ">IT Solution Provider</p>
                    <a href=" ">Veiw Details</a>
                </div>
            </div>
        </div>
        <button class="btn btn-success ">All Projects</button>
    </div>

    <!-- section 3 for carosel -->

    <div class="parent div ">
        <p class=" ">Testimonials</p>
        <h3>What Customers Say</h3>
        <div class="carousel ">
            <div class=" ">
                <h6 class=" ">Superb Work!</h6>
                <p class=" ">“Blessing welcomed ladyship she met humoured sir breeding her. Six curiosity day assurance bed necessary.”</p>
                <img src="/Source/Assets/images/Review.svg " alt=" ">
                <h6>Sabo Masties</h6>
            </div>
            <div class=" ">
                <h6 class=" ">Superb Work!</h6>
                <p class=" ">“Blessing welcomed ladyship she met humoured sir breeding her. Six curiosity day assurance bed necessary.”</p>
                <img src="/Source/Assets/images/Review.svg " alt=" ">
                <h6>Sabo Masties</h6>
            </div>
            <div class=" ">
                <h6 class=" ">Superb Work!</h6>
                <p class=" ">“Blessing welcomed ladyship she met humoured sir breeding her. Six curiosity day assurance bed necessary.”</p>
                <img src="/Source/Assets/images/Review.svg " alt=" ">
                <h6>Sabo Masties</h6>
            </div>

        </div>

    </div>
</body>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>

</html>