                        html {
                            scroll-behavior: smooth;
                        }
                        
                        body {
                            margin: 0;
                            padding: 0;
                            box-sizing: border-box;
                        }
                        /* SOCIAL PANEL CSS */
                        
                        .social-panel-container {
                            position: fixed;
                            right: 0;
                            bottom: 80px;
                            transform: translateX(100%);
                            transition: transform 0.4s ease-in-out;
                            z-index: 9999;
                        }
                        
                        .social-panel-container.visible {
                            transform: translateX(-10px);
                        }
                        
                        .social-panel {
                            background-color: #fff;
                            border-radius: 16px;
                            box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
                            border: 5px solid #49AD09;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-family: 'Muli';
                            position: relative;
                            height: 169px;
                            width: 370px;
                            max-width: calc(100% - 10px);
                        }
                        
                        .social-panel button.close-btn {
                            border: 0;
                            color: #49AD09;
                            cursor: pointer;
                            font-size: 20px;
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            background-color: white;
                        }
                        
                        .social-panel button.close-btn:focus {
                            outline: none;
                        }
                        
                        .social-panel p {
                            background-color: #49AD09;
                            border-radius: 0 0 10px 10px;
                            color: #fff;
                            font-size: 14px;
                            line-height: 18px;
                            padding: 2px 17px 6px;
                            position: absolute;
                            top: 0;
                            left: 50%;
                            margin: 0;
                            transform: translateX(-50%);
                            text-align: center;
                            width: 235px;
                        }
                        
                        .social-panel p i {
                            margin: 0 5px;
                        }
                        
                        .social-panel p a {
                            color: #FF7500;
                            text-decoration: none;
                        }
                        
                        .social-panel ul {
                            display: flex;
                            list-style-type: none;
                            padding: 0;
                            margin: 0;
                            position: absolute;
                            bottom: 20px;
                        }
                        
                        .social-panel ul li {
                            margin: 0 10px;
                        }
                        
                        .social-panel ul li a {
                            border: 1px solid #DCE1F2;
                            border-radius: 50%;
                            color: #49AD09;
                            font-size: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 50px;
                            width: 50px;
                            text-decoration: none;
                        }
                        
                        .social-panel ul li a:hover {
                            border-color: #FF6A00;
                            box-shadow: 0 9px 12px -9px #FF6A00;
                        }
                        
                        .floating-btn {
                            border-radius: 26.5px;
                            background-color: #49AD09;
                            border: 1px solid #49AD09;
                            box-shadow: 0 16px 22px -17px #03153B;
                            color: #fff;
                            cursor: pointer;
                            font-size: 16px;
                            line-height: 20px;
                            padding: 12px 20px;
                            position: fixed;
                            bottom: 20px;
                            right: 20px;
                            z-index: 9999;
                        }
                        
                        .floating-btn:hover {
                            background-color: #ffffff;
                            color: #49AD09;
                        }
                        
                        .floating-btn:focus {
                            outline: none;
                        }
                        
                        @media screen and (max-width: 480px) {
                            .social-panel-container.visible {
                                transform: translateX(0px);
                            }
                            .floating-btn {
                                right: 10px;
                            }
                        }
                        
                        .night {
                            display: none;
                            /* Hidden by default */
                            position: fixed;
                            /* Stay in place */
                            z-index: 999;
                            /* Sit on top */
                            padding-top: 100px;
                            /* Location of the box */
                            left: 0;
                            top: 0;
                            width: 100%;
                            /* Full width */
                            height: 100%;
                            /* Full height */
                            overflow: auto;
                            /* Enable scroll if needed */
                            background-color: rgb(0, 0, 0);
                            /* Fallback color */
                            background-color: rgba(0, 0, 0, 0.4);
                            /* Black w/ opacity */
                        }
                        /* Modal Content */
                        
                        .content {
                            background-color: #fefefe;
                            margin: auto;
                            padding: 20px;
                            border: 1px solid #888;
                            border-radius: 5px;
                            width: 450px;
                        }
                        
                        @media screen and (max-width: 470px) {
                            .content {
                                width: 400px;
                            }
                        }
                        
                        @media screen and (max-width: 410px) {
                            .content {
                                width: 370px;
                            }
                        }
                        
                        .morning {
                            display: flex;
                            justify-content: space-between;
                        }
                        /* The Close Button */
                        
                        .blah {
                            color: #aaaaaa;
                            font-size: 30px;
                            font-weight: bold;
                            position: relative;
                            top: -10px;
                        }
                        
                        .blah:hover,
                        .blah:focus {
                            color: #000;
                            text-decoration: none;
                            cursor: pointer;
                        }
                        /* Full-width input fields */
                        
                        .section-1 {
                            position: relative;
                            top: 20%;
                            left: 50%;
                            transform: translate(-50%, 15%);
                        }
                        
                        .images-one {
                            position: relative;
                            animation: imageOneMove 5s;
                        }
                        
                        @media screen and (max-width:1300px) {
                            .images-one {
                                display: none;
                            }
                        }
                        
                        .images-two {
                            position: relative;
                            animation: imageTwoMove 5s;
                        }
                        
                        @keyframes imageOneMove {
                            from {
                                bottom: 3000px;
                            }
                            to {
                                bottom: 0px;
                            }
                        }
                        
                        @keyframes imageTwoMove {
                            from {
                                bottom: 3000px;
                            }
                            to {
                                bottom: 0px;
                            }
                        }
                        
                        .card {
                            width: 400px;
                            margin: auto;
                        }
                        
                        @media screen and (max-width: 405px) {
                            .card {
                                width: 380px;
                                margin: auto;
                            }
                        }
                        
                        @media screen and (max-width: 385px) {
                            .card {
                                width: 370px;
                                margin: auto;
                            }
                        }
                        
                        .card:hover,
                        .business:hover {
                            box-shadow: 0 25px 50px -20px rgb(221, 216, 216);
                        }
                        
                        .btn-business {
                            margin: 30px 0px 10px 0px;
                            background-color: transparent;
                        }
                        
                        .btn-business-three {
                            margin: 80px 0px 10px 0px;
                        }
                        
                        .btn-business:hover {
                            background-color: #49AD09;
                            color: hsl(0, 0%, 100%);
                            border: none;
                        }
                        
                        .button {
                            background-color: #49AD09;
                            border: none;
                            border-radius: 3px;
                            box-shadow: 0 20px 25px 5px #dad8d8;
                        }
                        
                        .buttons {
                            background-color: #49AD09;
                            border: none;
                            margin-left: 2em;
                            box-shadow: 0 20px 25px 5px #dad8d8;
                            border-radius: 3px;
                            color: #fff;
                        }
                        
                        input {
                            outline: none;
                        }
                        
                        .card a {
                            color: black;
                        }
                        
                        .card a:focus {
                            color: rgb(14, 240, 14);
                        }
                        
                        .card a:hover {
                            color: rgb(14, 240, 14);
                        }
                        
                        .services a {
                            color: rgb(14, 240, 14);
                        }
                        
                        .hero {
                            background-color: #F2F2F2;
                        }
                        
                        .parent {
                            height: 30em;
                            background-color: #F2F2F2;
                        }
                        
                        .services {
                            display: flex;
                        }
                        
                        @media only screen and (max-width:769px) {
                            .images {
                                display: none;
                            }
                            .images-two {
                                display: none;
                            }
                            .services {
                                display: block;
                            }
                            .Policy {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                            }
                            .business {
                                width: 350px;
                            }
                            .footer {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                            }
                            .footer-content {
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                            }
                        }
                        
                        @media only screen and (max-width:750px) {}
                        
                        .section-4 {
                            position: relative;
                            top: 7em;
                        }
                        
                         :root {
                            --header-height: 3rem;
                            --font-semi: 600;
                        }
                        
                         :root {
                            --body-font: 'Poppins', sans-serif;
                            --big-font-size: 2rem;
                            --h2-font-size: 1.25rem;
                            --normal-font-size: 0.938rem;
                        }
                        
                         :root {
                            --mb-1: 0.5rem;
                            --mb-2: 1rem;
                            --mb-3: 1.5rem;
                            --mb-4: 2rem;
                            --mb-5: 2.5rem;
                            --mb-6: 3rem;
                        }
                        /*===== z index =====*/
                        
                         :root {
                            --z-back: -10;
                            --z-normal: 1;
                            --z-tooltip: 10;
                            --z-fixed: 100;
                        }
                        /*===== BASE =====*/
                        
                        ul {
                            list-style: none;
                        }
                        /*===== CLASS CSS ===== */
                        
                        .l-header {
                            width: 100%;
                            position: fixed;
                            top: 0;
                            left: 0;
                            z-index: var(--z-fixed);
                            background-color: #fff;
                            box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
                        }
                        /*===== NAV =====*/
                        
                        .nav {
                            height: var(--header-height);
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-weight: var(--font-semi);
                            margin: 0px 100px;
                        }
                        
                        @media screen and (max-width: 1005px) {
                            .nav {
                                margin: 0px 50px;
                            }
                        }
                        
                        @media screen and (max-width: 890px) {
                            .nav {
                                margin: 0px 30px;
                            }
                        }
                        
                        @media screen and (max-width: 890px) {
                            .nav {
                                margin: 0px 20px;
                            }
                        }
                        
                        @media screen and (max-width: 768px) {
                            .nav {
                                margin: 0 30px;
                            }
                            .nav__menu {
                                position: fixed;
                                top: var(--header-height);
                                right: -100%;
                                width: 85%;
                                height: 100vh;
                                background-color: #49AD09;
                                transition: 1s;
                            }
                            .specification {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                            }
                            .buttons {
                                background-color: #fff;
                                border: none;
                                border-radius: 5px;
                                border: 2px solid #49AD09;
                                box-shadow: -5px 16px 25px -15px #03153B;
                                color: #49AD09;
                                cursor: pointer;
                                font-size: 20px;
                                position: relative;
                                top: 150px;
                                width: 90%;
                                margin: auto;
                            }
                            .nav__list li {
                                position: relative;
                                color: #fff;
                                padding: 10px;
                            }
                        }
                        
                        li:hover {
                            text-decoration: none;
                            color: black;
                        }
                        
                        .nav__link {
                            position: relative;
                            color: #fff;
                            font-size: 17px;
                        }
                        
                        .nav__link:hover::after {
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 0.18rem;
                            left: 0;
                            top: 2rem;
                            background-color: #49AD09;
                        }
                        
                        .actives::after {
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 0.18rem;
                            left: 0;
                            top: 2rem;
                            background-color: #49AD09;
                        }
                        /*=== Show menu ===*/
                        
                        .show {
                            right: 0;
                        }
                        
                        @media screen and (min-width: 768px) {
                            .nav {
                                height: calc(var(--header-height) + 1rem);
                            }
                            .nav__list {
                                display: flex;
                                padding-top: 0;
                                align-items: center;
                                text-align: center;
                            }
                            .nav__item {
                                margin-left: var(--mb-6);
                                margin-bottom: 0;
                            }
                            .nav__toggle {
                                display: none;
                            }
                            .nav__link {
                                color: var(--second-color);
                            }
                            .specification {
                                display: flex;
                                flex-direction: row;
                                width: 650px;
                                justify-content: center;
                                margin: auto;
                            }
                        }
                        
                        #navMenu.active {
                            margin-top: 1em;
                        }
                        
                        #navMenu>span {
                            display: block;
                            width: 30px;
                            height: 3px;
                            border-radius: 9999px;
                            background-color: #000000;
                        }
                        
                        #navMenu>span:not(:last-child) {
                            margin-bottom: 7px;
                        }
                        
                        #navMenu,
                        #navMenu>span {
                            transition: all .4s ease-in-out;
                        }
                        
                        #navMenu.active {
                            transition-delay: 0.8s;
                            transform: rotate(45deg);
                        }
                        
                        #navMenu.active>span:nth-child(2) {
                            width: 0;
                        }
                        
                        #navMenu.active>span:nth-child(1),
                        #navMenu.active>span:nth-child(3) {
                            transition-delay: .4s;
                        }
                        
                        #navMenu.active>span:nth-child(3) {
                            transform: translateY(-19px)rotate(90deg);
                        }