.card:hover {
    box-shadow: 0 25px 50px -20px rgb(221, 216, 216);
}

.card a {
    color: black;
}

.card a:focus {
    color: rgb(14, 240, 14);
}

.card a:hover {
    color: rgb(14, 240, 14);
}

.services a {
    color: rgb(14, 240, 14);
}

#class {
    display: none;
}

@media only screen and (max-width:768px) {
    #class {
        display: block;
    }
    .class {
        display: none;
    }
}