body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card:hover {
    box-shadow: 0 25px 50px -20px rgb(221, 216, 216);
}

.card a {
    color: black;
}

.card a:focus {
    color: rgb(14, 240, 14);
}

.card a:hover {
    color: rgb(14, 240, 14);
}

.services a {
    color: rgb(14, 240, 14);
}

.hero {
    background-color: #F2F2F2;
}

.parent {
    height: 30em;
    background-color: #F2F2F2;
}

.services {
    display: flex;
}

.testimonials {
    box-shadow: 0 25px 50px -10px rgb(221, 216, 216);
    position: relative;
    top: -22em;
    gap: 30px;
}

.toggle {
    --width: 120px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: -20em;
    text-align: center;
}

.toggle__input {
    display: none;
}

.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #ffffff;
    transition: background 0.2s;
    background-image: url(/Source/Assets/images/Icon\ backward.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 15px;
}

.toggle__fill::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 10px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #000000;
    background-image: url(/Source/Assets/images/Icon\ foward.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

@media only screen and (max-width:768px) {
    .images {
        display: none;
    }
    .services {
        display: block;
    }
}